<div class="face-snap-card" [ngClass]="{ snapped: userHasSnapped}">
  <h2 class="title">{{ faceSnap.title | uppercase }}</h2>
  @if (faceSnap.location) {
    <p class="location"><span>📍</span> {{ faceSnap.location }}</p>
  } @else {
    <p class="location location--not-specified">Localisation non spécifiée</p>
  }
  <div class="frame">
    <img class="img" [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  </div>
  <p class="desc">{{ faceSnap.description }}</p>
  <div class="footer-card">
    <div class="inner">
      <p class="created">créé le {{ faceSnap.createdAt }}</p>
      <p class="snaps" [ngStyle]="{ color: 'rgb(0, ' + faceSnap.snaps + ', 0)' }">📸 {{ faceSnap.snaps }}</p>
    </div>
    <button (click)="onSnap()">{{ snapButtonText }}</button>
  </div>
</div>
