.face-snap-card {
  position: relative;
  background-color: rgb(255, 249, 249);
  box-shadow: 0 0 0 1px rgb(214, 214, 214);
  width: 200px;
  font-size: 15px;
  padding: 5px;
  border-radius: 5px;
  &.snapped{
    box-shadow: 0 0 0 1px rgb(90, 208, 255);
  }
  .title{
    margin: 0;
  }
  .location{
    font-size: 10px;
    margin-bottom: 5px;
    span{
      font-style: normal;
    }
    &--not-specified{
      font-style: italic;
      color: grey;
    }
  }
  .frame{
    position: relative;
    overflow: hidden;
    width: 100%;
    aspect-ratio: 16/9;
    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
      width: 100%;
      object-fit: cover;
    }
  }
  .desc{
    margin-top: 5px;
    font-size: 10px;
    color: grey;
    font-style: italic;
  }

  .footer-card{
    font-size: 10px;
    margin-top: 5px;
    .inner{
      display: flex;
      gap: 15px;
      justify-content: space-between;
      .snaps{
        flex-shrink: 0;
      }
    }
    button{
      outline: none;
      border: none;
      box-shadow: inset 0px 0px 0px 2px transparent;
      padding: 5px 15px;
      border-radius: 10px;
      margin-top: 5px;
      flex-grow: 1;
      background: linear-gradient(135deg, rgba(190,49,255,1) 0%, rgba(218,49,255,1) 50%, rgba(255,101,49,1) 100%);
      font-weight: 500;
      color: white;
      transition: all 0.25s ease-out;
      &:hover{
        box-shadow: inset 0px 0px 0px 2px rgb(255, 132, 249);
      }
    }
  }
}
