<mat-card class="example-card" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ faceSnap.title }}</mat-card-title>
    <mat-card-subtitle>
      @if (faceSnap.location) {
        📍 {{ faceSnap.location }}
      } @else {
        Localisation non spécifiée
      }
    </mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
  <mat-card-actions>
    <button mat-button (click)="onViewFaceSnap()">VOIR</button>
  </mat-card-actions>
</mat-card>
