<section id="newFaceSnap">
  <div class="container">
    <div class="snapForm">
      <h2>Ajouter un FaceSnap</h2>
      <form [formGroup]="snapForm">
        <div class="form-group">
          <label for="title">Titre</label>
          <input type="text" id="title" formControlName="title">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea id="description" type="text" formControlName="description" rows="4">
          </textarea>
        </div>
        <div class="form-group">
          <label for="imageUrl">URL de l'image</label>
          <input id="imageUrl" type="text" formControlName="imageUrl">
        </div>
        <div class="form-group">
          <label for="location">Lieu</label>
          <input id="location" type="text" formControlName="location">
        </div>
        <div class="action-buttons">
          <button class="btn" type="submit" (click)="onSubmitForm()" [disabled]="snapForm.invalid">Enregistrer</button>
        </div>
      </form>
    </div>
    <div class="snapPreview">
      <div *ngIf="faceSnapPreview$ | async as facesnap">
        <mat-card class="faceSnapCard" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ facesnap.title }}</mat-card-title>
            <mat-card-subtitle class="location">
              @if (facesnap.location) {
                📍 {{ facesnap.location }}
              } @else {
                Localisation non spécifiée
              }
            </mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image class="pic" [src]="facesnap.imageUrl" [alt]="facesnap.title">
          <mat-card-actions class="actions">
            <button mat-button>VOIR</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</section>
